asn1crypto
attrs
azure-keyvault-secrets
azure-identity
certifi
charset-normalizer
colorama
Deprecated
distlib
filelock
idna
importlib-resources
jmespath
jsonschema
misp-stix
pipenv
platformdirs
pyasn1
pycparser
pymisp~=2.5.4
pyrsistent
python-dateutil
PyYAML
requests~=2.32.3
requests-futures
rsa
six
urllib3~=2.3.0
virtualenv
virtualenv-clone
wrapt

azure-core~=1.32.0